<configuration>
	<system.web>
		<httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" enable="true" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="65536" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
